.hero {
    background: linear-gradient(to bottom right, #000, #111);
    color: white;
    padding: 80px 0;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  
  .left {
    max-width: 600px;
  }
  
  .left h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .left p {
    font-size: 16px;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
  }
  
  .search-box input {
    flex: 1;
    padding: 14px;
    border: none;
    font-size: 14px;
    outline: none;
  }
  
  .search-box button {
    background-color: #4b50e6;
    color: white;
    padding: 14px 24px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .search-box button:hover {
    background-color: #383fc5;
  }
  
  .right img {
    width: 300px;
    height: auto;
  }
  