body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}





.products {
  padding: 60px 0;
}

.products h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.product-card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-card img {
  max-width: 100%;
  height: 160px;
  object-fit: contain;
}

.product-card h4 {
  margin: 10px 0;
}

.product-card .price {
  color: #3f3fff;
  font-weight: bold;
}
.product-card .old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
